<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
<listener>
	<listener-class>cn.tedu.listener.MySCListener</listener-class>
</listener>



  <filter>
  	<filter-name>EncodeFilter</filter-name>
  	<filter-class>cn.tedu.filter.EncodeFilter</filter-class>
  	<init-param>
  		<param-name>encode</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>EncodeFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
    <filter>
  	<filter-name>AutoLoginFilter</filter-name>
  	<filter-class>cn.tedu.filter.AutoLoginFilter</filter-class>
  
  </filter>
  <filter-mapping>
  	<filter-name>AutoLoginFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>cn.tedu.web.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>cn.tedu.web.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <servlet-class>cn.tedu.web.CheckUserNameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.tedu.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.tedu.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackProdListServlet</servlet-name>
    <servlet-class>cn.tedu.web.back.BackProdListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProdImgServlet</servlet-name>
    <servlet-class>cn.tedu.web.ProdImgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackProdDeleteServlet</servlet-name>
    <servlet-class>cn.tedu.web.back.BackProdDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxChangePnumServlet</servlet-name>
    <servlet-class>cn.tedu.web.back.AjaxChangePnumServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProdListServlet</servlet-name>
    <servlet-class>cn.tedu.web.ProdListServlet</servlet-class>
  </servlet>










  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <url-pattern>/CheckUserNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackProdListServlet</servlet-name>
    <url-pattern>/BackProdListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdImgServlet</servlet-name>
    <url-pattern>/ProdImgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackProdDeleteServlet</servlet-name>
    <url-pattern>/BackProdDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxChangePnumServlet</servlet-name>
    <url-pattern>/AjaxChangePnumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdListServlet</servlet-name>
    <url-pattern>/ProdListServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
